body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('header.jpg');
  background-size:cover;
  background-position: center;
}

/* .flexcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
} */

.col{
text-align: center;
}

h1 {
  font-size: 2rem; 
}
.compare{
  color:white;
  font-weight: bold;
  font-size: 32px;
}

.text-uppercase{
  text-transform: capitalize;
  color: white;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: rgb(255, 165, 0);
}

div.col-text{
  padding-top: 35%;
}
.btn{
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-secondary{
  background-color: rgba(255, 165, 0, 0.7);
  border-color:  rgba(255, 165, 0, 0.9);
}
.btn-secondary:hover {
  background-color: rgba(255, 94, 0, 0.5);
  cursor: pointer;
}
.btn-secondary:active {
  transform: scale(1.1);
  background-color: rgba(255, 94, 0, 0.5);
  cursor: pointer;
}

#mc-embedded-subscribe{
  margin: auto;
  display: block;
}

#mc_embed_signup_scroll{
  padding: 0 0 0 0;
}
#mc_embed_signup form {
  padding: 0 0 0 0;
}